<subject>Community Jar Admin: New Project Submission</subject>
<message>
Community Jar Admins,

[project-owner-name] submitted a new project, "[project-title]".

<a href="[admin-project-url]">Please login to review and approve this project</a>

<strong>Reminder: </strong>Check for spelling and formatting errors, as well as, descriptive information and good title before approving. Please make sure personal information, like an address, is <strong>not</strong> included in the project information.

Community Jar
<i>Have a Need, Help a Need</i>
</message>