<subject>Community Jar Admin: New Volunteer Sign Up</subject>
<message>
Community Jar Admins,

[volunteer-name] is willing to help with [project-title].

<a href="[admin-project-url]">Please login to review and approve this volunteer</a>

Below you can see their contact information and any additional comments they left for the project owner.

<strong>Volunteer Information:</strong>
[volunteer-name]
[volunteer-email]
[volunteer-phone]

<strong>Comment:</strong>
[volunteer-comment]

<strong>Reminder: </strong>If you notice anything suspicious about this person or comments they left, please contact this volunteer directly before you approve.

Community Jar
<i>Have a Need, Help a Need</i>
</message>