<subject>New Volunteer Sign Up for '[project-title]'</subject>
<message>
[project-owner-name],

A new volunteer has signed up to help with your project: [project-title]. Please take time to get in touch with the volunteer regarding any final details or information that they will need in order to help with your project. Also, we have given the volunteer your contact information so that they get in touch with you if they have any questions.

<strong>Volunteer Information:</strong>

[volunteer-name]
[volunteer-email]
[volunteer-phone]

<strong>Comment:</strong>
[volunteer-comment]

To view a full list of all volunteers visit your <a href="[project-edit-url]">Project Edit Page</a>.

<strong>Is your project complete?</strong>
Once you have received enough volunteers for your project, you can mark it as complete on your <a href="[project-edit-url]">Project Edit Page</a>.

Community Jar
<i>Have a Need, Help a Need</i>
</message>