<subject>Community Jar: '[project-title]' has been approved</subject>
<message>
[project-owner-name],

Your project, [project-title] has been approved! You can view your project here: <a href="[project-url]">[project-title]</a>.

<strong>Editing Your Project:</strong>

If you need to add or update your project at anytime you can go to your private <a href="[project-edit-url]">Project Edit Page</a>. <strong>Please do not share this link with others.</strong>

<strong>Volunteers:</strong>
Once a volunteer has been approved to help with your project you will receive an email with their contact information. This is so that you can give final information needed to complete your project. Volunteers will also receive your contact information so that they can get in touch with you if they have any questions.

You can view a full listing of volunteers for your project at the bottom of your <a href="[project-edit-url]">Project Edit Page</a>.

<strong>Completing Your Project:</strong>

Once you have received enough volunteers for your project or have passed the project due date, you can mark your project as completed on your <a href="[project-edit-url]">Project Edit Page</a>.

If you have any concerns or problems with your project, please contact the Community Jar admins at: [admin-email]

Community Jar
<em>Have a Need, Help a Need</em>
</message>