<subject>Community Jar: You're ready to help with '[project-title]'</subject>
<message>
[volunteer-name],
Thank you for signing up to help with [project-title]. We have notified the project owner that you are willing to help with their project. Also, we have passed along your contact information to the project owner so that they can get in touch with you with final details and information.

Listed below is the project owners information and the project description.

<strong>Project Owner:</strong>
[project-owner-name]
[project-owner-email]
[project-owner-phone]

<strong>Project Information:</strong>

[project-title]
Date: [project-date]
[project-description]

If you have questions or comments please contact the project owner.

Thank you for volunteering for this project!

Community Jar
<i>Have a Need, Help a Need</i>
</message>